fastapi
uvicorn
pydantic
sqlalchemy
python-dotenv
pyswisseph
timezonefinder
pytz
requests
google-genai
googlemaps==4.10.0
# Auth & Database
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi==0.1.9
detect-secrets
